<?php include 'header.html';?>
<body>
<div id="body-wrapper">
  <!-- Wrapper for the radial gradient background -->
  <?php include 'left.html';?>
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <!-- Page Head -->
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>个案</h3>
        <ul class="content-box-tabs">
          <li><a href="#tab1" class="default-tab">列表</a></li>
          <!-- href must be unique and match the id of target div -->
          <li><a href="?c=cases&m=edit">新增个案</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
          <div class="notification attention png_bg none" id="notice"> 
          	<a href="javascript:;" class="close"><img src="./app/views/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
            <div> </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>
                  <input class="check-all" type="checkbox" />
                </th>
                <th>个案编号</th>
                <th>姓名</th>
                <th>别名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>联络电话</th>
                <th>婚姻状况</th>
                <th>记录时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="pagination"> 
                  	<?php echo $links;?> 
                  </div>
                  <!-- End .pagination -->
                  <div class="clear"></div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <?php
              	foreach($cases as $key=>$value){
					$createtime = intval($value["createtime"])>0?date("Y-m-d H:i:s",$value["createtime"]):'';
					echo '              
					<tr>
                		<td>
                  			<input type="checkbox" />
                		</td>
                		<td>'.$value["serialNumber"].'</td>
               			<td>'.$value["name"].'</td>
                		<td>'.$value["alias"].'</td>
                		<td>'.$value["sex"].'</td>
                		<td>'.$value["birthday"].'</td>
                		<td>'.$value["phone"].'</td>
                		<td>'.$value["marriage"].'</td>
						<td>'.$createtime.'</td>
                		<td>
                  			<a href="?c='.$c.'&m=edit&'.$primaryName.'='.$value[$primaryName].'" title="修改"><img src="./app/views/images/icons/pencil.png" alt="修改" /></a> 
							<a href="javascript:;" title="删除" onclick="delData(\'cases\',\'del\',\''.$value["casesId"].'\',this);"><img src="./app/views/images/icons/cross.png" alt="删除" /></a>
							<a href="?c=cases&m=export&casesId='.$value['casesId'].'" title="导出内部保存版"><img src="./app/views/images/icons/word.png" alt="导出word文件" /></a>
							<a href="?c=cases&m=export&casesId='.$value['casesId'].'&assess=1" title="导出提交评估版"><img src="./app/views/images/icons/page_word.png" alt="导出word文件" /></a> 
						</td>
              		</tr>';
				}
              ?>
            </tbody>
          </table>
        </div>
        <!-- End #tab1 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <?php include 'footer.html';?>
  </div>
  <!-- End #main-content -->
</div>
</body>
</html>