<?php include 'header.html';?>
<body>
<div id="body-wrapper">
  <!-- Wrapper for the radial gradient background -->
  <?php include 'left.html';?>
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <noscript>
    <!-- Show a notification if the user has disabled javascript -->
    <div class="notification error png_bg">
      <div> Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
        Download From <a href="http://www.exet.tk">exet.tk</a></div>
    </div>
    </noscript>
    <!-- Page Head -->
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>个案记录</h3>
        <ul class="content-box-tabs">
          <li><a href="#tab1" class="default-tab">列表</a></li>
          <!-- href must be unique and match the id of target div -->
          <li><a href="?c=caseslog&m=edit">新增记录</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
          <div class="notification attention png_bg none" id="notice"> 
          	<a href="javascript:;" class="close"><img src="./app/views/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
            <div> </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>
                  <input class="check-all" type="checkbox" />
                </th>
                <th>个案编号</th>
                <th>姓名</th>
                <th>日期</th>
                <th>联络方式</th>
                <th>接触人/与案主关系</th>
                <th>目的</th>
                <th>记录时间</th>
                <th>添加意见时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="pagination"> 
                  	<?php echo $links;?> 
                  </div>
                  <!-- End .pagination -->
                  <div class="clear"></div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <?php
              	foreach($caseslog as $key=>$value){
					$createtime = intval($value["createtime"])>0?date("Y-m-d H:i:s",$value["createtime"]):'';
					$supervisionTime = intval($value["supervisionTime"])>0?date("Y-m-d H:i:s",$value["supervisionTime"]):'';
					echo '              
					<tr>
                		<td>
                  			<input type="checkbox" />
                		</td>
                		<td>'.$value["serialNumber"].'</td>
               			<td>'.$value["name"].'</td>
                		<td>'.$value["date"].'</td>
                		<td>'.$value["contactWay"].'</td>
                		<td>'.$value["relationship"].'</td>
                		<td>'.$value["objective"].'</td>
						<td>'.$createtime.'</td>
						<td>'.$supervisionTime.'</td>
                		<td>
                  			<a href="?c='.$c.'&m=edit&'.$primaryName.'='.$value[$primaryName].'" title="Edit"><img src="./app/views/images/icons/pencil.png" alt="Edit" /></a> 
							<a href="javascript:;" title="Delete" onclick="delData(\'caseslog\',\'del\',\''.$value["logId"].'\',this);"><img src="./app/views/images/icons/cross.png" alt="Delete" /></a> 
						</td>
              		</tr>';
				}
              ?>
            </tbody>
          </table>
        </div>
        <!-- End #tab1 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <?php include 'footer.html';?>
  </div>
  <!-- End #main-content -->
</div>
</body>
</html>