<?php include 'header.html';?>
<body>
<div id="body-wrapper">
  <?php include 'left.html';?>
  <?php include 'menu-show.html';?>
  <div id="main-content">
    <!-- Page Head -->
    <!-- <h2>Welcome</h2> -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3><?php echo $title;?></h3>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" >
          <form id="groupsignin">
            <fieldset>
             <p>
              <label>小组名称</label>
              <select name="groupId" class="small-input">
              	<option value="0">请选择</option>
              	<?php
              		foreach($groupList as $key=>$value){
						if($value['groupId'] == $groupId){
							$selected = 'selected="selected"';
						}
						echo '<option value="'.$value['groupId'].'" '.$selected.'>'.$value['name'].'</option>';
					}
              	?>
              </select>
              <span class="input-notification png_bg none" id="groupNameInfo"></span>
            </p>
             <p>
              <label>参加者姓名</label>
             <input class="text-input small-input" type="text" id="participantName" name="participantName" value="<?php echo $participantName;?>"/>
              <span class="input-notification png_bg none" id="participantNameInfo"></span>
             </p>
             <p>
              <label>第一节</label>
             <?php
              	foreach($__attendance as $key=>$value){
					$checked = $value == $section_1?'checked=checked':'';
					echo '<input type="radio" name="section_1" value="'.$value.'" '.$checked.'/> '.$value;
				}
              ?>
              <span class="input-notification png_bg none" id="sectionInfo"></span>
             </p>
             <p>
              <label>第二节</label>
             <?php
              	foreach($__attendance as $key=>$value){
					$checked = $value == $section_2?'checked=checked':'';
					echo '<input type="radio" name="section_2" value="'.$value.'" '.$checked.'/> '.$value;
				}
              ?>
              <span class="input-notification png_bg none" id="sectionInfo"></span>
             </p>
             <p>
              <label>第三节</label>
             <?php
              	foreach($__attendance as $key=>$value){
					$checked = $value == $section_3?'checked=checked':'';
					echo '<input type="radio" name="section_3" value="'.$value.'" '.$checked.'/> '.$value;
				}
              ?>
              <span class="input-notification png_bg none" id="sectionInfo"></span>
             </p>
             <p>
              <label>第四节</label>
             <?php
              	foreach($__attendance as $key=>$value){
					$checked = $value == $section_4?'checked=checked':'';
					echo '<input type="radio" name="section_4" value="'.$value.'" '.$checked.'/> '.$value;
				}
              ?>
              <span class="input-notification png_bg none" id="sectionInfo"></span>
             </p>
             <p>
              <label>第五节</label>
             <?php
              	foreach($__attendance as $key=>$value){
					$checked = $value == $section_5?'checked=checked':'';
					echo '<input type="radio" name="section_5" value="'.$value.'" '.$checked.'/> '.$value;
				}
              ?>
              <span class="input-notification png_bg none" id="sectionInfo"></span>
             </p>
             <p>
              <label>第六节</label>
             <?php
              	foreach($__attendance as $key=>$value){
					$checked = $value == $section_6?'checked=checked':'';
					echo '<input type="radio" name="section_6" value="'.$value.'" '.$checked.'/> '.$value;
				}
              ?>
              <span class="input-notification png_bg none" id="sectionInfo"></span>
             </p>
            <p>
              <input type="hidden" name="<?php echo $primaryName;?>" value="<?php echo $primaryValue;?>" />
              <input class="button" type="button" value="确定" onclick="saveInfo('groupsignin','groupsignin','saveInfo')"/>
            </p>
            </fieldset>
            <div class="notification success png_bg none" style="width:150px;" id="groupsigninSaveResult">
	          	<a href="javascript:;" class="close">
	          		<img src="./app/views/images/icons/cross_grey_small.png" title="Close this notification" alt="close" />
	          	</a>
	            <div>提示内容</div>
          	</div>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
    </div>
    <?php include 'footer.html';?>
  </div>
</div>
<script type="text/javascript" src="app/views/js/base.js"></script>
<script type="text/javascript" src="app/views/module/My97DatePicker/WdatePicker.js"></script>
</body>
</html>