<?php include 'header.html';?>
<body>
<div id="body-wrapper">
  <?php include 'left.html';?>
  <?php include 'menu-show.html';?>
  <div id="main-content">
    <!-- Page Head -->
    <!-- <h2>Welcome</h2> -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3><?php echo $title;?></h3>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" >
          <form id="groupregister">
            <fieldset>
             <p>
              <label>小组名称</label>
             <input class="text-input small-input" type="text" id="groupName" name="groupName" value="<?php echo $groupName;?>"/>
              <span class="input-notification png_bg none" id="groupNameInfo"></span>
             </p>
             <p>
              <label>报名者姓名</label>
             <input class="text-input small-input" type="text" id="applican" name="applican" value="<?php echo $applican;?>"/>
              <span class="input-notification png_bg none" id="applicanInfo"></span>
             </p>
             <p>
              <label>性别</label>
              <?php 
              	foreach($__sex as $key=>$value){
					$checked = $value==$sex?'checked=checked':'';
					echo '<input type="radio" name="sex" value="'.$value.'" '.$checked.' />  '.$value.'  ';
				}
              ?>
              <span class="input-notification png_bg none" id="sexInfo"></span>
             </p>
             <p>
              <label>联系方式</label>
             <input class="text-input small-input" type="text" id="phone" name="phone" value="<?php echo $phone;?>"/>
              <span class="input-notification png_bg none" id="phoneInfo"></span>
             </p>
             <p>
              <label>符合参与此次小组的条件</label>
             <input class="text-input small-input" type="text" id="conditions" name="conditions" value="<?php echo $conditions;?>"/>
              <span class="input-notification png_bg none" id="conditionsInfo"></span>
             </p>
            <p>
              <input type="hidden" name="<?php echo $primaryName;?>" value="<?php echo $primaryValue;?>" />
              <input class="button" type="button" value="确定" onclick="saveInfo('groupregister','groupregister','saveInfo')"/>
            </p>
            </fieldset>
            <div class="notification success png_bg none" style="width:150px;" id="saveResult">
	          	<a href="javascript:;" class="close">
	          		<img src="./app/views/images/icons/cross_grey_small.png" title="Close this notification" alt="close" />
	          	</a>
	            <div>提示内容</div>
          	</div>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
    </div>
    <?php include 'footer.html';?>
  </div>
</div>
<script type="text/javascript" src="app/views/js/base.js"></script>
<script type="text/javascript" src="app/views/module/My97DatePicker/WdatePicker.js"></script>
</body>
</html>