<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>乐众社会服务管理平台</title>
<!--                       CSS                       -->
<!-- Reset Stylesheet -->
<link rel="stylesheet" href="./app/views/css/reset.css" type="text/css" media="screen" />
<!-- Main Stylesheet -->
<link rel="stylesheet" href="./app/views/css/style.css" type="text/css" media="screen" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<link rel="stylesheet" href="./app/views/css/invalid.css" type="text/css" media="screen" />
<!--                       Javascripts                       -->
<!-- jQuery -->
<script type="text/javascript" src="./app/views/js/jquery-V1.11.2.js"></script>
<!-- jQuery Configuration -->
<script type="text/javascript" src="./app/views/js/simpla.jquery.configuration.js"></script>
<!-- Facebox jQuery Plugin -->
<script type="text/javascript" src="./app/views/js/facebox.js"></script>
<!-- jQuery WYSIWYG Plugin -->
<script type="text/javascript" src="./app/views/js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/app/views/module/select2/js/select2.full.min.js"></script>
<link href="/app/views/module/select2/css/select2.min.css" type="text/css" rel="stylesheet" />
</head>