<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>乐众社会服务管理平台</title>

<meta name="viewport" content="width=device-width">
<script type="text/javascript" src="./app/views/js/jquery-V1.11.2.js"></script>

<link href="/app/views/css/login_new.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="login">
	<form action="" method="post" id="login-form">
		<div style="height:150px;font-size:50px;color:#fff;text-align:center;vertical-align:middle;font-weight:bold;">乐众社会服务管理平台</div>
		
		<div class="login_form">
			<div class="user">
				<input class="text_value" value="" name="username" type="text" id="username" placeholder="请输入帐号"/>
				<input class="text_value" value="" name="password" type="password" id="password" placeholder="请输入密码" />
			</div>
			<button class="button" id="submit" type="button" onclick="login();" style="cursor:pointer;">登录</button>
		</div>
	
		<div id="login-notice"></div>
		
		<div class="foot">Copyright &copy; 2015.佛山市南海区乐众社会工作服务中心 All rights reserved.<a href="http://www.miibeian.gov.cn/publish/query/indexFirst.action" style="color:#fff;text-decoration:none;">粤ICP备14022258号-1</a></div>
	</form>
</div>
<script type="text/javascript" src="./app/views/js/login.js"></script>
</body>
</html>