<p>
<label>活动名称</label>
<select name="activityId" id="activityId" class="small-input">
	<option value="">请选择活动名称</option>
	<?php
	foreach($activityList AS $key=>$value){
		$selected = $value['activityId'] == $activityId ? 'selected="selected"' : '';
		echo '<option value="'.$value['activityId'].'" '.$selected.'>'.$value['serialNumber'].'</option>';
	}
	?>
</select>
 <span class="input-notification png_bg none" id="activityIdInfo"></span>
</p>
<script type="text/javascript">
$("#activityId").select2();
</script>